#cont{
    width: 25%;
    height: 500px;
    margin: 4em auto;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    
}

#time{
    width: 100%;
    height: 25%;
    /* border: solid red 2px; */
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
    line-height: 70px;
}

#numbs{
    width: 100%;
    height: 50%;
    /* border: solid green 2px; */
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

#btns{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    /* border: solid yellow 2px; */
    text-align: center;
    align-content: center;
    flex-grow: 1;
    margin-top: 5em;
}

.num{
    width: 65px;
    height: 65px;
    border: solid rgba(59, 59, 161, 0.61) 1px;
    margin: 2px 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    background-color: rgba(96, 96, 165, 0.61);
    font-size: large;
    font-weight: 700;

}

.row{
    /* border: solid black 1px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

}

.btnd{
    width: 40%;
    height: 30px;
    /* text-align: center; */
    vertical-align: middle;
    line-height: 30px;
    margin: 0  auto;
    border: solid blue 1px;
   
}

.btnLog{
    background-color: rgb(23, 163, 30);
    font-size: large;
    font-weight: 400;
}

.btnReset{
    background-color: darkgoldenrod;
    font-size: large;
    font-weight: 400;
}
